Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  misc-*,
  performance-*,
  portability-*,
  readability-duplicate-include,
  readability-inconsistent-declaration-parameter-name,
  readability-misleading-indentation
WarningsAsErrors: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*
HeaderFilterRegex: 'firmware/rosmaster-r2/.*'
FormatStyle: file
